.book-columns {
  &__details {
    .full-width {
      width: 100%;

      &.date {
        width: 40%;

        mat-datepicker-toggle {
          position: absolute;
          right: 0px;
          top: -10px;
        }
      }
    }

    .slider {
      height: 58px;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      width: 40%;

      h6 {
        font-weight: 400 !important;
      }
    }

    mat-form-field {
      padding-bottom: 15px;
    }
  }
}
