$height: 50;
$width: 527;
$border: 5;
$speed: 0.4;
$ease: cubic-bezier(0.85, 0.01, 0.4, 0.97);
$color-bk: var(--yellow_dark);

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  width: calc($width * 1px);
  height: calc($height * 1px);
  position: relative;
  cursor: pointer;
  left: 50%;
  transform: rotate(12deg) scale(0.7) translateX(-50%);

  transition-property: opacity, transform, height;
  transition-duration: calc($speed * 1s);
  transition-timing-function: $ease;

  .center {
    border: calc($border * 1px) solid white;
    border-left: none;
    border-right: none;
    width: calc($width * 1px);
    height: calc($height * 1px);
    transform: scalex(0);
    transition: inherit;
    background-color: $color-bk;
  }

  input {
    transition: inherit;
    width: calc(100% - 50px);
    height: calc($height * 1px);
    border: 0;
    outline: 0;
    color: white;
    background: transparent;
    font-size: 1.3rem;
    opacity: 0;
    padding: 0;
    margin: 0;
    font-family: "League Spartan", sans-serif !important;

    &::placeholder {
      color: white;
    }
  }

  .shadow {
    position: absolute;
    width: 100%;
    height: calc($height * 1px);
    border-radius: 2em;
    top: 0;
    left: 0;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
    transition: inherit;
    transform: scalex(0) translateY(-10px);
    opacity: 0;
  }

  &:after,
  &:before {
    z-index: 1;
    content: "";
    transition: inherit;
    width: calc(($height * 0.5px) - ($border * 1px));
    height: calc(($height * 1px) - ($border * 2px));
    display: block;
    top: calc($height * 1px);
    border-color: white;
    position: absolute;
    background-color: $color-bk;
    border: calc($border * 1px) solid white;
    transition-property: all;
  }

  &:before {
    right: 100%;
    border-radius: 2em 0 0 2em;
    border-right: none;
    transform: translateX(calc($width * 0.3px));
  }

  &:after {
    left: 100%;
    border-radius: 0 2em 2em 0;
    border-left: none;
    transform: translateX(calc($width * -0.7px));
  }

  .sticks {
    position: absolute;
    height: calc($height * 0.5px);
    width: 1px;
    bottom: 0;
    right: 0;
    transition: inherit;
    transition-duration: calc($speed * 1.25s);
    transform: translateX(calc(($width - $height) * -0.53px)) rotate(-45deg);
    z-index: 2;

    &:before,
    &:after {
      transition: all calc($speed * 1s) $ease;
      height: calc($height * 0.5px);
      width: calc($border * 1px);
      position: absolute;
      content: "";
      background-color: white;
      left: calc($width * -0.2px);
      bottom: calc($width * 0.05px);
    }
  }

  &:focus-within {
    transform: rotate(0deg) translatey(-10px) translateX(-50%);

    .center {
      transform: scalex(1);
    }

    .shadow {
      transform: scalex(1) translateY(0px);
      opacity: 1;
    }

    input {
      opacity: 1;
    }

    &:before,
    &:after {
      top: 0;
    }

    &:before {
      height: calc($height * 1px);
      transform: translateX(0);
    }

    &:after {
      height: calc($height * 1px);
      transform: translateX(0);
    }

    .sticks {
      transition-duration: calc($speed * 1s);
      transform: translateX(calc($height * -0.1px)) translateY(0) rotate(180deg);

      &:before,
      &:after {
        left: calc($border * -0.13px);
        bottom: calc($height * -0.2px);
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}
