header {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 32px;
  border-radius: 8px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.01);
    border-radius: 15px;
  }
}

.logo {
  height: 30px;

  img {
    height: 100%;
  }
}


.menu {
  display: flex;

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12px;

    .link {
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &__user {
    border-left: 2px solid black;
    cursor: pointer;
    p {
      margin: 0px 5px;
      display: inline-block;
      line-height: normal;
    }

    .user {
      display: flex;
      flex-direction: column;
    }

    .user-name {
      font-size: 14px;
      font-weight: 500;
    }

    .user-role {
      font-size: 11px;
      font-weight: 400;
    }

    mat-icon {
      margin-left: 10px;
      height: 30px;
      width: 30px;
      font-size: 30px;
    }
  }

  &-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
  }
}
