/* You can add global styles to this file, and also import other style files */
:root {
  --yellow_dark: #dbbc09;
  --yellow_light: rgb(248, 238, 179);
  --red: rgb(245, 104, 104);
  --input-err: #c1063b;
  --blue-font: #122748;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  min-height: calc(100vh - 50px);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan", sans-serif !important;
}

h1 {
  font-size: 42px !important;
  font-weight: 600 !important;
  padding: 20px 10px;
}

h2 {
  font-size: 35px !important;
  font-weight: 600 !important;
  padding: 17px 10px;
}

h3 {
  font-size: 27px !important;
  font-weight: 600 !important;
  padding: 15px 10px;
}

h4 {
  font-size: 24px !important;
  font-weight: 600 !important;
  padding: 15px 10px;
}

h5 {
  font-size: 20px !important;
  font-weight: 600 !important;
  padding: 15px 10px;
}

h6 {
  font-size: 17px !important;
  font-weight: 600 !important;
  padding: 10px;
}

.mat-raised-button {
  background-color: var(--yellow_dark);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  font-weight: 500;

  &.big-button {
    line-height: 44px;
    padding: 0px 23px;
    font-size: 16px;
  }
}

.mat-button {
  &:hover {
    color: var(--yellow_dark) !important;
  }

  &.active {
    color: var(--yellow_dark);

    .mat-button-focus-overlay {
      opacity: 0.04;
    }
  }
}

.boooky-container {
  position: relative;
  max-width: 1500px;
  width: 90vw;
  margin: 0px auto;
}

.notFound {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .card {
    min-height: 400px;
    width: 600px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 27px;
    border: 5px dashed var(--yellow_dark);
    box-shadow: 10px 14px 12px -11px rgba(66, 68, 90, 1);

    h2 {
      text-align: center;
      margin: 0;
    }

    img {
      height: 270px;
      margin-bottom: 27px;
    }
  }
}

.book-columns {
  display: grid;
  grid-template-columns: 2fr 4fr;
  column-gap: 30px;
  justify-content: center;

  &.reverse {
    grid-template-columns: 4fr 2fr;
  }

  &__cover {
    max-width: 600px;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    height: auto;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 20px;
    }
  }

  &__details {
    padding: 30px;
    background-color: white;
    border-radius: 30px;
  }
}

.mat-form-field {
  input {
    font-family: "Helvetica Neue", sans-serif;
  }
}

.mat-form-field.mat-focused {
  .mat-form-field-label,
  .mat-form-field-underline,
  .mat-form-field-ripple {
    color: var(--yellow_dark);
  }

  .mat-form-field-ripple {
    background-color: var(--yellow_dark);
  }
}

.mat-slider.mat-accent .mat-slider-track-fill,
.mat-slider.mat-accent .mat-slider-thumb,
.mat-slider.mat-accent .mat-slider-thumb-label {
  background-color: var(--yellow_dark);
}

.mat-slider-thumb-label {
  span {
    transform-origin: center;
    display: inline-block;
    transform: rotate(-45deg) translateY(34%) !important;
  }
}

.mat-slider-thumb-label {
  display: block !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

.mat-input-element {
  caret-color: var(--yellow_dark);
}

.mat-datepicker-toggle-active {
  color: var(--yellow_dark);
}

.mat-button-wrapper {
  line-height: 40px;
}

.warning-button {
  background-color: #c1063b;
}
