.book-columns {
  &-holder {
    min-height: calc(100vh - 150px);
    padding: 0px 0px 40px 0px;
  }

  &__details {
    h2 {
      margin-bottom: 0px;
    }

    p {
      padding: 15px 10px;
      font-size: 16px;
    }

    .property {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      .name,
      .value {
        display: inline-block;
        margin-bottom: 0px;
      }
    }
  }
}
