<div class="boooky-container book-columns-holder">
  <div *ngIf="foundBook; else emptyBook">
    <h1>Book details:</h1>
    <div class="book-columns">
      <div class="book-columns__cover">
        <img
          src="{{ foundBook.coverUrl ?? '/assets/book-cover-not-found.png' }}"
          alt="book-cover"
        />
      </div>
      <div class="book-columns__details">
        <h2>Specifics:</h2>
        <div class="property">
          <h3 class="name">Title:</h3>
          <h2 class="value">{{ foundBook.title }}</h2>
        </div>
        <div class="property" *ngIf="foundBook.author">
          <h4 class="name">Author:</h4>
          <h3 class="value">{{ foundBook.author }}</h3>
        </div>
        <div class="property" *ngIf="foundBook.pageCount">
          <h4 class="name">Page count:</h4>
          <h3 class="value">{{ foundBook.pageCount }}</h3>
        </div>
        <div class="property" *ngIf="foundBook.publicationDate">
          <h4 class="name">Publication date:</h4>
          <h3 class="value">{{ foundBook.publicationDate | date }}</h3>
        </div>
        <div class="property" *ngIf="foundBook.rating">
          <h4 class="name">Rating:</h4>
          <h3 class="value">{{ foundBook.rating }}</h3>
        </div>
        <div class="property" *ngIf="foundBook.quote">
          <h4 class="name">Quote:</h4>
          <h3 class="value">{{ foundBook.quote }}</h3>
        </div>
        <div class="property">
          <h4 class="name">Description:</h4>
          <p class="value">{{ foundBook.description }}</p>
        </div>

        <button class="big-button" routerLink="/app" mat-raised-button>
          <mat-icon>fast_rewind</mat-icon>
          Back
        </button>

        <button
          class="big-button"
          mat-raised-button
          routerLink="/app/editBook/{{ foundBook.id }}"
        >
          <mat-icon>remove_red_eye</mat-icon>
          Edit
        </button>
      </div>
    </div>
    <div class="comments"></div>
  </div>
</div>
<ng-template #emptyBook>
  <div class="notFound">
    <div class="card">
      <img src="/assets/book-lover.svg" alt="" />
      <h2>Not All Who Wander Are Lost)</h2>
      <h3>Book was not found...</h3>
      <button class="big-button" routerLink="/app" mat-raised-button>
        <mat-icon>fast_rewind</mat-icon> Back
      </button>
    </div>
  </div>
</ng-template>
